In [29]:
a1=1,2,3,4,5,6,7
a1

(1, 2, 3, 4, 5, 6, 7)

In [30]:
type(a1)

tuple

In [31]:
a,b=12,5

In [32]:
a

12

In [33]:
b

5

In [34]:
a,b=b,a

In [35]:
a

5

In [36]:
b

12

In [40]:
s={1,'c',3,4,5,1,'c',5}

In [41]:
s

{1, 3, 4, 5, 'c'}

In [42]:
type(s)

set

In [48]:
for i in s:
    print(i)

1
3
4
5
c

In [49]:
for i in s:
    print(i)

1
3
4
5
c

In [50]:
a={12,5,7,13,6}
b={7,13,15,2,1}

In [51]:
a.union(b)

{1, 2, 5, 6, 7, 12, 13, 15}

In [52]:
a.intersection(b)

{7, 13}

In [53]:
a.difference(b)

{5, 6, 12}

In [54]:
a-b

{5, 6, 12}

In [61]:
a|b

{1, 2, 5, 6, 7, 12, 13, 15}

In [62]:
s={x*x for x in range(-5,5)}

In [63]:
s

{0, 1, 4, 9, 16, 25}

In [68]:
d={'ram':12,'sam':5,'jadu':7,'madhu':13}

In [69]:
d['tom']=0

In [70]:
d

{'ram': 12, 'sam': 5, 'jadu': 7, 'madhu': 13, 'tom': 0}

In [75]:
for i in d:
    print(f'{i} has scored {d[i]}')

ram has scored 12
sam has scored 5
jadu has scored 7
madhu has scored 13
tom has scored 0

In [79]:
for i in d.keys():
    print(i)

ram
sam
jadu
madhu
tom

In [84]:
d={('ram','sharma'):[12,5,7],('sam','barma'):[13,6,9],('jadu','guha'):[2,1,3]}

In [85]:
d['ram','sharma']

[12, 5, 7]

In [100]:
for i in d:
    for j in i:
        print(f'{j}',end=" ")
    print(f'has got {d[i][0]} in phy {d[i][1]} in chem {d[i][2]} in maths')

ram sharma has got 12 in phy 5 in chem 7 in maths
sam barma has got 13 in phy 6 in chem 9 in maths
jadu guha has got 2 in phy 1 in chem 3 in maths

In [98]:
for i in d:
    print(f'{i[0]} {i[1]} has got {d[i][0]} in phy {d[i][1]} in chem {d[i][2]} in maths')

ram sharma has got 12 in phy 5 in chem 7 in maths
sam barma has got 13 in phy 6 in chem 9 in maths
jadu guha has got 2 in phy 1 in chem 3 in maths

In [101]:
for fn,ln in d:
    print(f'{fn} {ln}')

ram sharma
sam barma
jadu guha

In [102]:
for fn,ln in d:
    print(f'{fn} {ln} has got {d[fn,ln][0]} in phy {d[fn,ln][1]} in chem {d[fn,ln][2]} in maths' )

ram sharma has got 12 in phy 5 in chem 7 in maths
sam barma has got 13 in phy 6 in chem 9 in maths
jadu guha has got 2 in phy 1 in chem 3 in maths