In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [4]:
df = spark.read.csv("contacts.csv", header=True, inferSchema=True)

In [6]:
df.columns

['Name',
 'Given Name',
 'Additional Name',
 'Family Name',
 'Yomi Name',
 'Given Name Yomi',
 'Additional Name Yomi',
 'Family Name Yomi',
 'Name Prefix',
 'Name Suffix',
 'Initials',
 'Nickname',
 'Short Name',
 'Maiden Name',
 'Birthday',
 'Gender',
 'Location',
 'Billing Information',
 'Directory Server',
 'Mileage',
 'Occupation',
 'Hobby',
 'Sensitivity',
 'Priority',
 'Subject',
 'Notes',
 'Language',
 'Photo',
 'Group Membership',
 'E-mail 1 - Type',
 'E-mail 1 - Value',
 'E-mail 2 - Type',
 'E-mail 2 - Value',
 'E-mail 3 - Type',
 'E-mail 3 - Value',
 'Phone 1 - Type',
 'Phone 1 - Value',
 'Phone 2 - Type',
 'Phone 2 - Value',
 'Phone 3 - Type',
 'Phone 3 - Value',
 'Phone 4 - Type',
 'Phone 4 - Value',
 'Address 1 - Type',
 'Address 1 - Formatted',
 'Address 1 - Street',
 'Address 1 - City',
 'Address 1 - PO Box',
 'Address 1 - Region',
 'Address 1 - Postal Code',
 'Address 1 - Country',
 'Address 1 - Extended Address',
 'Organization 1 - Type',
 'Organization 1 - Name',
 'Organization 1 - Yomi Name',
 'Organization 1 - Title',
 'Organization 1 - Department',
 'Organization 1 - Symbol',
 'Organization 1 - Location',
 'Organization 1 - Job Description',
 'Website 1 - Type',
 'Website 1 - Value',
 'Custom Field 1 - Type',
 'Custom Field 1 - Value']

In [12]:
df2 = df.select(['Name', 'Phone 1 - Value', 'Phone 2 - Value', 'Phone 3 - Value', 'Phone 4 - Value'])

In [46]:
from pyspark.sql.functions import length, col

df3 = df2.withColumn('Phone 1', length(col('Phone 1 - Value')))\
    .withColumn('Phone 2', length(col('Phone 2 - Value')))\
    .withColumn('Phone 3', length(col('Phone 3 - Value')))\
    .withColumn('Phone 4', length(col('Phone 4 - Value')))

In [55]:
df3.createOrReplaceTempView("TAB")
spark.sql("SELECT * from TAB where `Phone 1` > 15").show()

+--------------------+--------------------+--------------------+---------------+---------------+-------+-------+-------+-------+
|                Name|     Phone 1 - Value|     Phone 2 - Value|Phone 3 - Value|Phone 4 - Value|Phone 1|Phone 2|Phone 3|Phone 4|
+--------------------+--------------------+--------------------+---------------+---------------+-------+-------+-------+-------+
|ES Bapi Da (South...|+918017407479 :::...|                NULL|           NULL|           NULL|     28|   NULL|   NULL|   NULL|
|            ES Water|983-041-0114 ::: ...|                NULL|           NULL|           NULL|     29|   NULL|   NULL|   NULL|
|      F Abhiron Dada|+91 80976 96015 :...|                NULL|           NULL|           NULL|     49|   NULL|   NULL|   NULL|
|              F Dada|+919654016309 :::...|        705-922-1211|           NULL|           NULL|     69|     12|   NULL|   NULL|
|         F Didi Bhai|+91 83569 20799 :...|       086-553-02505|           NULL|           NULL|     36|     13|   NULL|   NULL|
|        F Gokul Dada|+919836832242 :::...|        983-683-2242|           NULL|           NULL|     31|     12|   NULL|   NULL|
|            F Jhulan|943-316-9764 ::: ...|        943-316-9764|           NULL|           NULL|     29|     12|   NULL|   NULL|
|        F Madhu-Asha|    +91 80 17 020260|                NULL|           NULL|           NULL|     16|   NULL|   NULL|   NULL|
|              F Mama|+91 93 31 870529 ...|                NULL|           NULL|           NULL|     37|   NULL|   NULL|   NULL|
|              F Mami|033-241-08072 :::...|       +918981486721|           NULL|           NULL|     32|     13|   NULL|   NULL|
|             F Mesho|+918981205313 :::...|        086970 81590|           NULL|           NULL|     51|     12|   NULL|   NULL|
|        F Nakul Dada|    +91 6291 698 448|6292 131 083 ::: ...|   882-034-8176|           NULL|     16|     29|     12|   NULL|
|      F Prabir Pishu|    +91 6291 746 665|     +91 98367 61914|           NULL|           NULL|     16|     15|   NULL|   NULL|
|          F Sneha Di|+917980718945 :::...|                NULL|           NULL|           NULL|     33|   NULL|   NULL|   NULL|
|             FCS 18'|+91 98 31 303826 ...|                NULL|           NULL|           NULL|    226|   NULL|   NULL|   NULL|
|      FCS 18' Aakash|+91 84439 82497 :...|                NULL|           NULL|           NULL|     35|   NULL|   NULL|   NULL|
|      FCS 18' Aniket|+91 96 74 003573 ...|                NULL|           NULL|           NULL|     33|   NULL|   NULL|   NULL|
|      FCS 18' Ankhan|    +91 89 61 506648|                NULL|           NULL|           NULL|     16|   NULL|   NULL|   NULL|
|     FCS 18' Aprotim|    +91 80 10 204854|                NULL|           NULL|           NULL|     16|   NULL|   NULL|   NULL|
|       FCS 18' Arkit|+918961505225 :::...|                NULL|           NULL|           NULL|     34|   NULL|   NULL|   NULL|
+--------------------+--------------------+--------------------+---------------+---------------+-------+-------+-------+-------+
only showing top 20 rows

In [71]:
df4 = df3.filter((df3['Phone 1']>15) | (df3['Phone 2']>15) | (df3['Phone 3']>15) | (df3['Phone 4']>15)).show()

+--------------------+--------------------+--------------------+---------------+---------------+-------+-------+-------+-------+
|                Name|     Phone 1 - Value|     Phone 2 - Value|Phone 3 - Value|Phone 4 - Value|Phone 1|Phone 2|Phone 3|Phone 4|
+--------------------+--------------------+--------------------+---------------+---------------+-------+-------+-------+-------+
|                Baba|          9678074545|+919330802211 :::...|           NULL|           NULL|     10|     31|   NULL|   NULL|
|ES Bapi Da (South...|+918017407479 :::...|                NULL|           NULL|           NULL|     28|   NULL|   NULL|   NULL|
|            ES Water|983-041-0114 ::: ...|                NULL|           NULL|           NULL|     29|   NULL|   NULL|   NULL|
|      F Abhiron Dada|+91 80976 96015 :...|                NULL|           NULL|           NULL|     49|   NULL|   NULL|   NULL|
|              F Dada|+919654016309 :::...|        705-922-1211|           NULL|           NULL|     69|     12|   NULL|   NULL|
|         F Didi Bhai|+91 83569 20799 :...|       086-553-02505|           NULL|           NULL|     36|     13|   NULL|   NULL|
|        F Gokul Dada|+919836832242 :::...|        983-683-2242|           NULL|           NULL|     31|     12|   NULL|   NULL|
|            F Jhulan|943-316-9764 ::: ...|        943-316-9764|           NULL|           NULL|     29|     12|   NULL|   NULL|
|        F Madhu-Asha|    +91 80 17 020260|                NULL|           NULL|           NULL|     16|   NULL|   NULL|   NULL|
|              F Mama|+91 93 31 870529 ...|                NULL|           NULL|           NULL|     37|   NULL|   NULL|   NULL|
|              F Mami|033-241-08072 :::...|       +918981486721|           NULL|           NULL|     32|     13|   NULL|   NULL|
|              F Masi|     +91 74393 07719|+91 80173 65451 :...|  090-389-84168|           NULL|     15|     35|     13|   NULL|
|             F Mesho|+918981205313 :::...|        086970 81590|           NULL|           NULL|     51|     12|   NULL|   NULL|
|           F Mimi Di|     +1 647-660-5321|+1 647-680-9049 :...|           NULL|           NULL|     15|     72|   NULL|   NULL|
|        F Nakul Dada|    +91 6291 698 448|6292 131 083 ::: ...|   882-034-8176|           NULL|     16|     29|     12|   NULL|
|             F Pishu|     +91 86172 48584|+91 89813 77942 :...|           NULL|           NULL|     15|     35|   NULL|   NULL|
|              F Pisi|     +91 82406 77533|+91 98302 16235 :...|           NULL|           NULL|     15|     53|   NULL|   NULL|
|      F Prabir Pishu|    +91 6291 746 665|     +91 98367 61914|           NULL|           NULL|     16|     15|   NULL|   NULL|
|          F Sneha Di|+917980718945 :::...|                NULL|           NULL|           NULL|     33|   NULL|   NULL|   NULL|
|             FCS 18'|+91 98 31 303826 ...|                NULL|           NULL|           NULL|    226|   NULL|   NULL|   NULL|
+--------------------+--------------------+--------------------+---------------+---------------+-------+-------+-------+-------+
only showing top 20 rows

In [76]:
import pandas as pd
from pyspark.
df4.toPandas().to_csv('output.csv', index=False)

AttributeError: 'NoneType' object has no attribute 'toPandas'