In [31]:
#connect with mysql
import mysql.connector

In [32]:
mydb = mysql.connector.connect(host="localhost", user="admin", password="admin", database="maadetails")

In [33]:
mycursor = mydb.cursor()

In [34]:
#read table
rows = mycursor.execute("select * from p_bank")

In [35]:
#fetch all rows
result = mycursor.fetchall()

In [36]:
result[0]

('P0000001',
 '04-04-2018',
 'POS/PRCR/809421664079/04-04-2018 21:10:35/EFT',
 '',
 '706',
 '',
 '47399.35')

In [37]:
def conv(date1):
    date1=date1.split("-")
    return date1[2]+"-"+date1[1]+"-"+date1[0]

In [38]:
conv(result[0][1])

'2018-04-04'

In [39]:
def convR(val):
    if val=='':
        return float(0.0)
    else:
        return float(val)

In [40]:

print("-",sql)

- INSERT INTO `banks` (`T_ID`, `T_Date`, `Particulars`, `Withdrawal`, `Deposit`, `Balance`) VALUES ('T0002178', '2023-07-14', 'BY CASH', 0.0, 37000.0, 40628.01)

In [41]:
for i in range(len(result)):
    #insert data into table
    sql = "INSERT INTO `p_banks` (`P_ID`, `T_Date`, `Particulars`, `Withdrawal`, `Deposit`, `Balance`) VALUES ('{}', '{}', '{}', {}, {}, {})".format(result[i][0],conv(result[i][1]),result[i][2],convR(result[i][4]),convR(result[i][5]),convR(result[i][6]))
    mycursor.execute(sql)
    mydb.commit()

In [42]:
mycursor.close()
mydb.close()