# Tuples

#### Tuple is immutable
#### Immutability of tuple results in hashability

### A tuple is hashable

In [38]:
a = 1,2,3,4,5

In [39]:
type(a)

tuple

In [40]:
a

(1, 2, 3, 4, 5)

In [41]:
a,b = 12,5

In [42]:
print(a)
print(b)

12
5

Python supports multiple initilization

In [43]:
a,b = b,a #swapping values

print(a)
print(b)

5
12

Tuple is a collection of unordered heterogeneous elements

### Set

In [44]:
s = {1, 2, 3, 5, 3, 2, 1}

In [45]:
type(s)

set

All repeated elements of a set will be automatically removed. Set is an ordered data type

In [46]:
s

{1, 2, 3, 5}

Set does not support indexing and slicing because we don't know the exact positions of the elements in the set. *Indices* of set elements aren't known.

In [47]:
s.append(6)

AttributeError: 'set' object has no attribute 'append'

_Set_ doesn't support *append* function. Rather it uses *add* function

In [11]:
s.add(6)

In [12]:
s

{1, 2, 3, 5, 6}

In [13]:
ex = {[1, 2, 3], [4, 5, 6], [7, 8, 9]}

TypeError: unhashable type: 'list'

A set never allows duplicates. So, the set uses hashability to rule out duplicates. As a list is not hashable then set cannot compare elements. So, a set of list is not possible

#### All data structures are iterable.

## Set operations

In [14]:
a = {12, 5, 7, 13, 6}
b = {7, 13, 15, 2, 1}

In [15]:
a.union(b) # a U b

{1, 2, 5, 6, 7, 12, 13, 15}

In [16]:
a.intersection(b) # a intersection b

{7, 13}

In [17]:
a.difference(b) # A - B

{5, 6, 12}

In [18]:
b.difference(a)

{1, 2, 15}

In [19]:
a-b # A - B can be written like this as well

{5, 6, 12}

In [20]:
s = {x * x for x in range(-5,5)}

In [21]:
s

{0, 1, 4, 9, 16, 25}

## Dictionary

A dictionary consists of a key and a corresponding value. Key for all cases is *unique*

In [22]:
d = {'ram':12, 'sam':14, 'jadu':11, 'madhu':10}

In [23]:
d['tom'] = 15 #adding an element to the dictionary

In [24]:
d

{'ram': 12, 'sam': 14, 'jadu': 11, 'madhu': 10, 'tom': 15}

In [28]:
for i in d:
    print(f'{i} has scored {d[i]}')

ram has scored 12
sam has scored 14
jadu has scored 11
madhu has scored 10
tom has scored 15

In [30]:
for j in d.keys():
    print(f'{j} has scored {d[j]}')

ram has scored 12
sam has scored 14
jadu has scored 11
madhu has scored 10
tom has scored 15

In [37]:
for x in d.values():
    print(x)

12
14
11
10
15

In [48]:
for y in d.keys():
    print(y)

ram
sam
jadu
madhu
tom

In [34]:
d1 = {('ram', 'sharma'):[12, 5, 7], ('sam', 'verma'):[13, 6, 9], ('jadu', 'bhatta'):[11, 7, 8]}

In [35]:
d1['ram', 'sharma']

[12, 5, 7]

In [52]:
for i in d1:
    print(f'{i[0]} {i[1]} got {d1[i][0]} in Physics, {d1[i][1]} in Chemistry and {d1[i][2]} in Mathematics')

ram sharma got 12 in Physics, 5 in Chemistry and 7 in Mathematics
sam verma got 13 in Physics, 6 in Chemistry and 9 in Mathematics
jadu bhatta got 11 in Physics, 7 in Chemistry and 8 in Mathematics

In [54]:
for fn, ln in d1:
    print(f'{fn} {ln} got {d1[fn, ln][0]} in Physics, {d1[fn, ln][1]} in Chemistry and {d1[fn, ln][2]} in Maths')

ram sharma got 12 in Physics, 5 in Chemistry and 7 in Maths
sam verma got 13 in Physics, 6 in Chemistry and 9 in Maths
jadu bhatta got 11 in Physics, 7 in Chemistry and 8 in Maths