### Factorial of a number

In [6]:
def factorial(num = 0):
    return 1 if num == 0 else num * factorial(num - 1)

In [7]:
factorial(6)

720

In [8]:
def factorials(*nums):
    facts = []

    for n in nums:
        facts.append(factorial(n))
    
    return facts

In [9]:
factorials(2,6,9,13)

[2, 720, 362880, 6227020800]

In [11]:
def factorials2(numb):
    facto = []

    for x in numb:
        facto.append(factorial(x))
    
    return facto

In [10]:
a = [1, 3, 5, 7, 9]

In [12]:
factorials2(*a)

TypeError: factorials2() takes 1 positional argument but 5 were given

In [13]:
factorials2([2, 4, 6, 8])

[2, 24, 720, 40320]

In [14]:
factorials(*a)

[1, 6, 120, 5040, 362880]

## List comprehension

In [15]:
## printing the squares of numbers

b = [x * x for x in range(10)]
b

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### Printing the value of Pi in a triangle

In [20]:
from math import pi

pi

3.141592653589793

In [22]:
[float(str(pi)[:i]) for i in range(3, len(str(pi)) + 1)]

[3.1,
 3.14,
 3.141,
 3.1415,
 3.14159,
 3.141592,
 3.1415926,
 3.14159265,
 3.141592653,
 3.1415926535,
 3.14159265358,
 3.141592653589,
 3.1415926535897,
 3.14159265358979,
 3.141592653589793]

In [26]:
[[i, j] for i in range(5) for j in range(5) if i != j]

[[0, 1],
 [0, 2],
 [0, 3],
 [0, 4],
 [1, 0],
 [1, 2],
 [1, 3],
 [1, 4],
 [2, 0],
 [2, 1],
 [2, 3],
 [2, 4],
 [3, 0],
 [3, 1],
 [3, 2],
 [3, 4],
 [4, 0],
 [4, 1],
 [4, 2],
 [4, 3]]

## Kwargs

Variable keyword arguements

In [1]:
def print_emp(fn, ln):
    print(f'The first name is: {fn}')
    print(f'The last name is: {ln}')

In [2]:
print_emp(ln = 'Banerjee', fn = 'Aritro')

The first name is: Aritro
The last name is: Banerjee

In [5]:
def print_emp(fn, ln, **kwargs):
    print(f'The first name is: {fn}')
    print(f'The last name is: {ln}')

    for key, values in kwargs.items():
        print(f'{key} is {values}')

In [6]:
print_emp(fn = 'Aritro', ln = 'Banerjee', Age = 21, Salary = '105000', Job = 'Senior Systems Engineer')

The first name is: Aritro
The last name is: Banerjee
Age is 21
Salary is 105000
Job is Senior Systems Engineer

## Lambda Expression

In [7]:
def comp(a, b):
    return a > b

In [8]:
comp(2, 5)

False

In [9]:
comp(12, 5)

True

Writing the same using **lambda** function

In [10]:
(lambda a, b: a > b)(12, 5)

True

In [11]:
from Sorting import get_max

In [12]:
a1 = [('Mickey', 14, 3000), ('Goofy', 6, 3260), ('Donald', 14, 4000)]

In [15]:
def comp(e1, e2):
    return e1[1] > e2[1]

In [16]:
get_max(a1, comp)

('Mickey', 14, 3000)

In [1]:
list1 = [7, 12, 3]
count1 = 1

for val in range(5, 11):
    if count1 < len(list1):
        list1[count1] = ((list1[count1 - 1]) // 2) + val
        count1 += 1
    else:
        list1.append(count1 + val)

print(list1)

[7, 8, 10, 13, 16]