# Spark DataFrame Basics

In [2]:
import findspark
findspark.init('/home/soumyadeep/DataEng/spark-3.3.2-bin-hadoop3')

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

23/06/28 12:21:57 WARN Utils: Your hostname, soumyadeep-pc resolves to a loopback address: 127.0.1.1; using 192.168.1.9 instead (on interface wlx90610c2ad3b9)
23/06/28 12:21:57 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/06/28 12:22:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
df=spark.read.json('people.json')

In [6]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [7]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [8]:
df.columns

['age', 'name']

In [9]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [10]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [11]:
from pyspark.sql.types import (
    StructField,
    StringType,
    IntegerType,
    StructType)

In [12]:
data_schema=[StructField('age',IntegerType(),True),
            StructField('name',StringType(),True)]

In [14]:
final_struc=StructType(fields=data_schema)

In [15]:
df=spark.read.json('people.json',schema=final_struc)

In [16]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [17]:
df['age']

Column<'age'>

In [18]:
type(df['age'])

pyspark.sql.column.Column

In [19]:
df.select('age')

DataFrame[age: int]

In [23]:
df.select('age').show()
type(df.select('age'))

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

pyspark.sql.dataframe.DataFrame

In [25]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [26]:
df.head(2)[0]

Row(age=None, name='Michael')

In [27]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [28]:
df.select(['age','name'])

DataFrame[age: int, name: string]

In [29]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [31]:
df.withColumn('double_age',df['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [32]:
df.withColumnRenamed('age','my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [34]:
df.createOrReplaceTempView('people')

In [35]:
results = spark.sql("SELECT * FROM people")

In [36]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [37]:
new_results=spark.sql("SELECT * FROM people WHERE age=30")

In [38]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+