In [46]:
#read a csv file

import pandas as pd
import numpy as np

import os

from pyspark.sql import SparkSession

In [47]:
#read a csv file
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [48]:
data = spark.read.csv('COTS dataset.csv', header=True, inferSchema=True)

In [49]:
data.show()

+----------------+----+-----+----------------+------------+-----------+
|City coffee shop|Year|Month|Product category|Sales Volume|Sales Value|
+----------------+----+-----+----------------+------------+-----------+
|     Southampton|2020|    1|          Coffee|          91|        364|
|     Southampton|2020|    1|      Hot drinks|          46|         92|
|     Southampton|2020|    1|     Cold drinks|          60|        150|
|     Southampton|2020|    1|           Cakes|          23|        115|
|     Southampton|2020|    1|      Sandwiches|          19|        114|
|     Southampton|2020|    1|          Pastry|          58|        116|
|     Southampton|2020|    2|          Coffee|          99|        396|
|     Southampton|2020|    2|      Hot drinks|           0|          0|
|     Southampton|2020|    2|     Cold drinks|          55|        138|
|     Southampton|2020|    2|           Cakes|          27|        135|
|     Southampton|2020|    2|      Sandwiches|          17|        102|
|     Southampton|2020|    2|          Pastry|          65|        130|
|     Southampton|2020|    3|          Coffee|          96|        384|
|     Southampton|2020|    3|      Hot drinks|          51|        102|
|     Southampton|2020|    3|     Cold drinks|          63|        158|
|     Southampton|2020|    3|           Cakes|          26|        130|
|     Southampton|2020|    3|      Sandwiches|          22|        132|
|     Southampton|2020|    3|          Pastry|          57|        114|
|     Southampton|2020|    4|          Coffee|         145|        580|
|     Southampton|2020|    4|      Hot drinks|          62|        124|
+----------------+----+-----+----------------+------------+-----------+
only showing top 20 rows

In [50]:
data.printSchema()

root
 |-- City coffee shop: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Month: integer (nullable = true)
 |-- Product category: string (nullable = true)
 |-- Sales Volume: integer (nullable = true)
 |-- Sales Value: integer (nullable = true)

In [51]:
from pyspark.sql.functions import col, udf
from pyspark.sql.types import IntegerType

In [52]:
data = data.withColumn('Sales Value',col('Sales Value').cast('float'))

In [53]:
data = data.withColumn('Sales Volume',col('Sales Volume').cast('int'))

In [54]:
data.show()

+----------------+----+-----+----------------+------------+-----------+
|City coffee shop|Year|Month|Product category|Sales Volume|Sales Value|
+----------------+----+-----+----------------+------------+-----------+
|     Southampton|2020|    1|          Coffee|          91|      364.0|
|     Southampton|2020|    1|      Hot drinks|          46|       92.0|
|     Southampton|2020|    1|     Cold drinks|          60|      150.0|
|     Southampton|2020|    1|           Cakes|          23|      115.0|
|     Southampton|2020|    1|      Sandwiches|          19|      114.0|
|     Southampton|2020|    1|          Pastry|          58|      116.0|
|     Southampton|2020|    2|          Coffee|          99|      396.0|
|     Southampton|2020|    2|      Hot drinks|           0|        0.0|
|     Southampton|2020|    2|     Cold drinks|          55|      138.0|
|     Southampton|2020|    2|           Cakes|          27|      135.0|
|     Southampton|2020|    2|      Sandwiches|          17|      102.0|
|     Southampton|2020|    2|          Pastry|          65|      130.0|
|     Southampton|2020|    3|          Coffee|          96|      384.0|
|     Southampton|2020|    3|      Hot drinks|          51|      102.0|
|     Southampton|2020|    3|     Cold drinks|          63|      158.0|
|     Southampton|2020|    3|           Cakes|          26|      130.0|
|     Southampton|2020|    3|      Sandwiches|          22|      132.0|
|     Southampton|2020|    3|          Pastry|          57|      114.0|
|     Southampton|2020|    4|          Coffee|         145|      580.0|
|     Southampton|2020|    4|      Hot drinks|          62|      124.0|
+----------------+----+-----+----------------+------------+-----------+
only showing top 20 rows

In [55]:
sales_volume_by_month = data.groupBy(['Year', 'Month']).agg({'Sales': 'sum'}).orderBy(['Year', 'Month'])

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `Sales` cannot be resolved. Did you mean one of the following? [`City coffee shop`, `Year`, `Month`, `Product category`, `Sales Volume`, `Sales Value`].

In [56]:
sales_volume_by_month.show()

AttributeError: 'GroupedData' object has no attribute 'show'

In [ ]:
#display Sales volume and value by month, by year and across the 3 years period

# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# import data
df = pd.read_csv('data.csv')

# convert date column to datetime
df['Date'] = pd.to_datetime(df['Date'])

# create new columns for year and month
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month

# create new column for sales value
df['Sales Value'] = df['Sales Volume'] * df['Price']

# create new column for sales value
df['Sales Value'] = df['Sales Volume'] * df['Price']

# create new dataframe for sales volume by month
sales_volume_by_month = df.groupby(['Year', 'Month'])['Sales Volume'].sum().reset_index()

# create new dataframe for sales value by month
sales_value_by_month = df.groupby(['Year', 'Month'])['Sales Value'].sum().reset_index()