In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\python\python391\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\appdata\roaming\python\python39\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python\python391\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: tzdata>=2022.1 in c:\python\python391\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in c:\python\python391\lib\site-packages (from pandas) (1.24.1)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import psycopg2 as db
import pandas as pd

In [3]:
def create_database():
    conn = db.connect("host = localhost dbname=postgres user=postgres password=admin")
    conn.set_session(autocommit=True)
    cur = conn.cursor()

    cur.execute("DROP DATABASE IF EXISTS accounts")
    cur.execute("CREATE DATABASE accounts")

    conn.close()

    conn = db.connect("host = localhost dbname=accounts user=postgres password=admin")
    conn.set_session(autocommit=True)
    cur = conn.cursor()

    return cur,conn

In [4]:
def drop_tables(curr,conn):
    for query in drop_table_queries:
        cur.execute(query)
        conn.commit()

In [5]:
def create_tables(curr,conn):
    for query in create_table_queries:
        curr.execute(query)
        conn.commit()

In [6]:
AccountCountry = pd.read_csv("Wealth Data/Wealth-AccountsCountry.csv")

In [7]:
#AccountCountry.head()

In [8]:
AccountCountry_clean = AccountCountry[['Code','Short Name','Table Name','Long Name','Currency Unit']]

In [9]:
AccountCountry_clean.head()

  Code Short Name Table Name                  Long Name      Currency Unit
0  ALB    Albania    Albania        Republic of Albania       Albanian lek
1  ARG  Argentina  Argentina         Argentine Republic     Argentine peso
2  ARM    Armenia    Armenia        Republic of Armenia      Armenian dram
3  AUS  Australia  Australia  Commonwealth of Australia  Australian dollar
4  AUT    Austria    Austria        Republic of Austria               Euro

In [10]:
AccountData = pd.read_csv("Wealth Data/Wealth-AccountData.csv")

In [11]:
#AccountData.head()

In [12]:
AccountData.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '1995 [YR1995]', '1996 [YR1996]', '1997 [YR1997]', '1998 [YR1998]',
       '1999 [YR1999]', '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]',
       '2003 [YR2003]', '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]',
       '2007 [YR2007]', '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]',
       '2011 [YR2011]', '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]',
       '2015 [YR2015]', '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]'],
      dtype='object')

In [13]:
AccountData = AccountData.rename(columns = {'1995 [YR1995]' : '1995', 
                              '1996 [YR1996]' : 'y_1996', 
                              '1997 [YR1997]' : 'y_1997', 
                              '1998 [YR1998]' : 'y_1998',
                              '1999 [YR1999]' : 'y_1999', 
                              '2000 [YR2000]' : 'y_2000', 
                              '2001 [YR2001]' : 'y_2001', 
                              '2002 [YR2002]' : 'y_2002',
                              '2003 [YR2003]' : 'y_2003', 
                              '2004 [YR2004]' : 'y_2004', 
                              '2005 [YR2005]' : 'y_2005', 
                              '2006 [YR2006]' : 'y_2006',
                              '2007 [YR2007]' : 'y_2007', 
                              '2008 [YR2008]' : 'y_2008', 
                              '2009 [YR2009]' : 'y_2009', 
                              '2010 [YR2010]' : 'y_2010',
                              '2011 [YR2011]' : 'y_2011',
                              '2012 [YR2012]' : 'y_2012',
                              '2013 [YR2013]' : 'y_2013',
                              '2014 [YR2014]' : 'y_2014',
                              '2015 [YR2015]' : 'y_2015',
                              '2016 [YR2016]' : 'y_2016',
                              '2017 [YR2017]' : 'y_2017',
                              '2018 [YR2018]' : 'y_2018'})

In [14]:
AccountData = AccountData[['Country Name', 'Country Code', 'Series Name', 'Series Code',
                           'y_2009', 'y_2010', 'y_2011',
                           'y_2012', 'y_2013', 'y_2014',
                           'y_2015', 'y_2016', 'y_2017', 'y_2018']]

In [15]:
AccountSeries = pd.read_csv("Wealth Data/Wealth-AccountSeries.csv")

In [16]:
AccountSeries.columns

Index(['Code', 'Indicator Name', 'Long definition', 'Source', 'Topic',
       'Unit of measure', 'Periodicity', 'Reference period',
       'Statistical concept and methodology', 'Previous Indicator Code',
       'Previous Indicator Name'],
      dtype='object')

In [17]:
AccountSeries = AccountSeries[['Code','Topic','Indicator Name','Long definition']]

In [18]:
#AccountSeries.head()

In [19]:
cur,conn = create_database()

In [20]:
AccountCountry_clean.columns

Index(['Code', 'Short Name', 'Table Name', 'Long Name', 'Currency Unit'], dtype='object')

In [21]:
songplay_create_table = ("""CREATE TABLE IF NOT EXISTS accountscountry(
country_code VARCHAR PRIMARY KEY,
short_name VARCHAR,
table_name VARCHAR,
long_name VARCHAR,
currency_unit VARCHAR)""")

In [22]:
cur.execute(songplay_create_table)
conn.commit()

In [23]:
AccountData.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code', 'y_2009',
       'y_2010', 'y_2011', 'y_2012', 'y_2013', 'y_2014', 'y_2015', 'y_2016',
       'y_2017', 'y_2018'],
      dtype='object')

In [24]:
accountsdata_create_table = ("""CREATE TABLE IF NOT EXISTS accountsdata(
country_name VARCHAR PRIMARY KEY,
country_code VARCHAR,
series_name VARCHAR,
series_code VARCHAR,
y_2009 numeric,
y_2010 numeric,
y_2011 numeric,
y_2012 numeric,
y_2013 numeric,
y_2014 numeric,
y_2015 numeric,
y_2016 numeric,
y_2017 numeric,
y_2018 numeric)""")
cur.execute(accountsdata_create_table)
conn.commit()

In [25]:
AccountSeries.columns

Index(['Code', 'Topic', 'Indicator Name', 'Long definition'], dtype='object')

In [26]:
accountseries_create_table = ("""CREATE TABLE IF NOT EXISTS accountseries(
series_code VARCHAR,
topic VARCHAR,
indicator_name VARCHAR,
long_definition VARCHAR)""")
cur.execute(accountseries_create_table)
conn.commit()

In [27]:
acc_country_insert = ("""INSERT INTO accountscountry(country_code,short_name,table_name,long_name,currency_unit) 
VALUES (%s,%s,%s,%s,%s)""")

In [33]:
#AccountCountry_clean.Code.unique

In [29]:
for i , rows in AccountCountry_clean.iterrows():
    cur.execute(acc_country_insert,list(rows))

UniqueViolation: duplicate key value violates unique constraint "accountscountry_pkey"
DETAIL:  Key (country_code)=(ARM) already exists.

In [30]:
acc_data_insert = ("""INSERT INTO accountsdata(
country_name,country_code,series_name,series_code,
y_2009,y_2010,y_2011,y_2012,y_2013,y_2014,y_2015,y_2016,y_2017,y_2018) 
VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)""")

In [31]:
conn.commit()

In [32]:
for i , rows in AccountData.iterrows():
    #print(list(rows))
    cur.execute(acc_data_insert,list(rows))

UniqueViolation: duplicate key value violates unique constraint "accountsdata_pkey"
DETAIL:  Key (country_name)=(Albania) already exists.