## Generators

In [1]:
def factorial(n):
    f=1
    for i in range(1,n+1):
        f*=i
        yield f

In [2]:
f=factorial(10)

In [3]:
for i in factorial(11):
    print(i)

1
2
6
24
120
720
5040
40320
362880
3628800
39916800

In [4]:
f

In [5]:
a=0xA

In [6]:
a

10

In [7]:
b=0o12

In [8]:
b

10

In [9]:
c=0b1011

In [10]:
c

11

In [11]:
d=10
print(hex(d))
print(oct(d))
print(bin(c))

0xa
0o12
0b1011

In [12]:
type(f)

generator

In [13]:
type(factorial)

function

In [14]:
for i in f:
    print(i)

1
2
6
24
120
720
5040
40320
362880
3628800

In [15]:
def fact(n):
    f=1
    for i in range(1,n+1):
        f*=i
    yield f

In [16]:
for i in fact(10):
    print(i)

3628800

In [17]:
f=factorial(10)

In [18]:
f2=list(f)

In [19]:
f2

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [20]:
for x in f:
    print(x)

In [21]:
def names(english):
    if not english:
        yield 'Ram'
        yield 'Sam'
        yield 'Jadu'
        yield 'Madhu'
    else:
        yield 'Tom'
        yield 'John'
        yield 'Marty'
        yield 'Harry'

In [22]:
for name in names(False):
    print(name)

Ram
Sam
Jadu
Madhu

In [23]:
for name in names(True):
    print (name)

Tom
John
Marty
Harry

In [24]:
def fibo(n):
    for i in range(1,n+1):
        if i==1:
            a,c=0,0
        elif i==2:
            b,c=1,1
        else:
            c=a+b
            a,b=b,c
        yield c

In [25]:
l1=list(fibo(10))

In [26]:
l1

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

## Built-in Generators: map and zip

In [101]:
a=[12,5,7,13,6]

In [102]:
def fact(n):
    return 1 if n==0 else n*fact(n-1)

In [103]:
b=[fact(i) for i in range(10)]

In [104]:
b

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [105]:
c=map(fact,a)

In [107]:
c

In [108]:
for item in map(fact,a):
    print(item)

479001600
120
5040
6227020800
720

In [109]:
list(map(lambda x: x**3,a))

[1728, 125, 343, 2197, 216]

## Zip

In [110]:
a=['ram','sam','jadu','madhu']
b=[19,22,18,20]
c=[18000,22000,20000,19000]

In [111]:
z=zip(a,b,c)

In [112]:
for item in z:
    print(item)

('ram', 19, 18000)
('sam', 22, 22000)
('jadu', 18, 20000)
('madhu', 20, 19000)

In [113]:
a=[[12,5,7,13],[6,15,2,1],[2,3,4,5]]

In [114]:
for i in zip(*a):
    print(i)

(12, 6, 2)
(5, 15, 3)
(7, 2, 4)
(13, 1, 5)

In [115]:
list(zip(*a))

[(12, 6, 2), (5, 15, 3), (7, 2, 4), (13, 1, 5)]

In [117]:
list(map(list,zip(*a)))

[[12, 6, 2], [5, 15, 3], [7, 2, 4], [13, 1, 5]]